:root {
  --section-heading-colour: rgb(123, 180, 177);
  --light-background-colour: rgb(121, 232, 213);
}

h1 {
  margin: 20px 0 20px 0;
  font-size: 60px;
padding-left: 100px;
background-color: var(--light-background-colour);
 
}

.banner-image {
  width: 100%;
  height: 200px;
  background-color: rgb(150, 30, 60);
 font-size: 40px; color:rgb(28, 224, 90);
 position: relative;
 background-image: url("../images/floral-g3294bb7a7_1280.jpg");
 background-size: cover;
}

.banner-image img {
  width: 120px;
}

.section-body {
  padding-left: 50px;
  border-left: 5px solid var(--section-heading-colour);
  margin-top: 40px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 750px;
}

.work-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-image {
  position: relative;
  flex-basis: 98%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 5px solid var(--section-heading-colour);
  margin: 3px;
  
}

.work-image img {
  width: 100%;
  height: 100%;
}

.work-image.small {
  height: 200px;
  flex-basis: 48%;
  flex-grow: 1;
  flex-shrink: 0;
}

.work-image.small img {
  height: auto;
  object-position: 0 -180px;
}

h4 {
  position:absolute;
  left: 0px;
  bottom: 5px;
  background-color:var(--section-heading-colour);
  padding: 20px;
  color: black;

}


h3 {
  position:absolute;
  right: 50px;
  bottom: 40px;
  margin: 0;
  background-color: var(--light-background-colour);
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 35px;
}


h2 { 
  color:rgb(123, 180, 177);
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right ;
  padding-right: 10px;
  font-size: 50px;
}


@media screen and (max-width: 900px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 32px;
  }
  
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 100px;

}

a {
  margin: 5px;
  border-bottom: 2px solid var(--light-background-colour);
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

nav a {
  color: var(--light-background-colour)
}

header {
display: flex;
justify-content:space-between;
background-color: var(--section-heading-colour);
}

@media screen and (max-width: 1000px) {
  header {
    display: block;
  }
}

body {
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}


section {
display: flex;


}